<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Silvia Juliana Camacho Obregón</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <link rel="stylesheet" href="../css/profile.css">
    <link href="../fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">

  </head>
  <body>
    <!------------------------------------------------------------------------->
    <!------------------------------------------------------------------------->
    <!------------------------------  NAV BAR  -------------------------------->
    <!------------------------------------------------------------------------->
    <!------------------------------------------------------------------------->

    <nav class="main_nav navbar navbar-expand-lg navbar-light mb-3">
      <div class="container-fluid">
        <button class="navbar-toggler my-3 ml-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav_name">
          <span class="span_name">Silvia Juliana Camacho Obregón</span>
          <br>
          <span class="span_job">Ingeniera Ambiental y de Saneamiento</span>
        </div>
        <div class="collapse me-auto navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="services.html">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  active" href="#">Experiencia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!------------------------------------------------------------------------->
    <!------------------------------------------------------------------------->
    <!--------------------------- END NAV BAR  -------------------------------->
    <!------------------------------------------------------------------------->
    <!------------------------------------------------------------------------->

    <div class="bar_1"></div>


    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class=" d-flex justify-content-center my-3">
                    <img src="../img/silvia.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-8 col-sm-12">
                <div class="exp-desc p-5">
                    <span class="span_name">Silvia Juliana Camacho Obregón</span>
                    <br><br>
                    Mi experiencia en los Sistemas Integrados de Gestión ( Calidad, ambiental y de sst) tanto en entidades públicas como privadas se ha logrado la certificación de las ISO de las diferentes campos con el objetivo de dar cumplimiento con la normatividad vigente colombiana. 
                    <br>
                    Tengo 16 años de experiencia en el sector público y privado mediante el cual se logró las diferentes certificaciones con los entes certificadores ICONTEC Y BUREAU VERITAS. 
                    <br>
                </div>           
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 col-sm-12">
               <div class="prof-desc">
                <h6 class="card-title mb-3 mt-3">Formación académica</h6>
                <br>
                TECNOLOGÍA AMBIENTAL
                Febrero de 2006 - Abril 2010 Unidades Tecnológicas de Santander Bucaramanga, Santander
                <br><br>
                INGENIERÍA AMBIENTAL Y DE SANEAMIENTO BÁSICO
                Febrero 2012- Diciembre 2015 Universidad de la Paz Barrancabermeja, Santander
                <br><br>
                ESPECIALIZACIÓN TÉCNICA EN SEGURIDAD Y SALUD OCUPACIONAL.
                Febrero de 2011 - Diciembre 2012 SENA
                Bucaramanga, Santander
                <br><br>
                ESPECIALISTA EN GERENCIA DE RIESGOS LABORALES SEGURIDAD Y SALUD EN EL TRABAJO ( SISTEMAS INTEGRADOS DE GESTION INTEGRAL DENTRO DEL PENSUL DE LA CARRERA SE EVIDENCIA LAS MATERIAS DE AUDITORIA – CREACION E IMPLEMENTACION DE SISTEMAS DE GESTION).
                Uniminuto- LICENCIA VIGENTE
                Bucaramanga, Santander
                <br><br>
                AUDITORIA AL SISTEMA DE GESTIÓN DE LA CALIDAD
                Junio de 2010- Duración de 40 Horas SENA
                Bucaramanga, Santander
                <br><br>
                AUDITORIA SISTEMAS INTEGRADOS DE GESTION
                Actualmente en curso SGS
                Bucaramanga,Santander
                <br><br>
                SISTEMAS DE GESTIÓN AMBIENTAL.
                Julio de 2010- Duración de 40 Horas Unidades Tecnologicas de Santander Bucaramanga, Santander
                <br><br>
                MIPG
                Abril 15 de 2019 - Curso Función Publica
                Bogotá D.C
                <br><br>
                DIPLOMADO DE VIVEROS FORESTALES II
                Diciembre 2010- Duración de 30 Horas Instituto Tecnológico Sistemas Siglo XXI Bucaramanga, Santander
                <br><br>
                DIPLOMADO DE VIVEROS FORESTALES
                Octubre 2009- Duración 119 Horas Instituto Tecnológico Sistemas Siglo XXI Bucaramanga, Santander
                <br><br>
                CURSO EVALUACIÓN DE IMPACTOS AMBIENTALES PARA LA APLICACIÓN DE MEDIDAS DE MANEJO
                Noviembre 20 Noviembre del 2015 40 Horas SENA
                Bucaramanga, Santander
                <br><br>
                CURSO DE OPERACIÓN DE POTABILIZACIÓN DE AGUAS
                Duración 50 Horas SENA
                <br><br>
                CURSO QUÍMICA Y TRATAMIENTO DE AGUAS (CURSO TEÓRICO-PRÁCTICO DE TÉCNICAS EXTRACCIÓN MUESTRAS)
                07-09-2012
                Universidad Industrial de Santander Bucaramanga, Santander
                <br><br>
                COORDINADOR DE ALTURAS
                Septiembre 2 del 2016-Duración 80 Horas SENA
                Bucaramanga, Santander
                <br><br>
                TOMA DE MUESTRAS DE CONCRETO FRESCO, ASENTAMIENTOS
                Julio 2018
                SGS CONTECON URBAR
                Bucaramanga, Santander
                MANEJO DE CONFLICTOS
                29 de Agosto 2016 - Duración 30 Horas SENA
                Bucaramanga, Santander
                <br><br>
                TECNICAS DE EXTRACION DE MUESTRAS ( AGUAS)
                UNIVERSIDAD INDUSTRIAL DE SANTANDER
                Bucaramanga,Santander
                <br><br>
                UNIVERSIDAD INDUSTRIAL DE SANTANDER
                Estudiante de Ingles - Nivel A1 Bucaramanga,Santander
                <br><br>
                POLITECNICO COLOMBIANO
                Interventoría y Proyectos Bogotá, Colombia
               </div>
            </div>
            <div class="col-lg-8 col-sm-12">
                <div class="exp-desc p-5 my-3">
                    <h6 class="card-title mb-3 mt-3">Actividades realizadas</h6>
                    <br>
                    *Diseño e implementación de los sistemas de gestión ( calidad,ambiental,sst) 
                    <br>   
                    *Ejecutar la implementación, ejecución de las normas iso 9001, iso 14001 iso 18001 de la organización para la certificación del sistema de gestión de calidad, ambiental, seguridad y salud en el trabajo. 
                    <br>
                    *Prestar apoyo técnico en todas las actividades relacionadas con la implementación, mantenimiento, evaluación y mejora de los Sistemas de Gestión Ambiental, y de calidad. 
                    <br>
                    *Liderar la implementación del programa de sostenibilidad ambiental, los controles operacionales, los simulacros ambientales, las inspecciones planeadas y las capacitaciones y sensibilizaciones en materia ambiental y de energía, de calidad dentro de las organizaciones. 
                    <br>
                    *Programar, realizar y documentar las visitas de verificación y/o auditorías internas 
                    <br>
                    *Reportar oportunamente los resultados de la medición, análisis, evaluación de los indicadores de desempeño ambiental y energético y asegurar la conservación de la información documentada como evidencia de los resultados. 
                    <br>
                    *Diseñar e implementar programas para controlar los aspectos ambientales generados por las actividades de la interventoría que incluyan inducción y capacitación al personal de la interventoría en temas ambientales. 
                    <br>
                    *Capacitar a todo el personal del contrato con el objetivo de la toma de consciencia y minimizar los impactos ambientales dentro de la construcción. 
                    <br>
                    *Mantenimiento de los SGC,,ambiental de la organización para certificaciones con el incontec 
                    <br>
                    *Premio Ambiental enfocado a la parte hospitalaria por las buenas prácticas ambientales. 
                    <br>
                    *Determinar y hacer cumplir los requisitos enfocados al cliente por medio de encuestas de satisfacción y a los proveedores. 
                    <br>
                    *Realización de PMA - Fichas Ambientales, Manual de Residuos Sólidos, Peligrosos para minimizar los impactos dentro de la obra con la ayuda de las directrices de la UNIVERSIDAD INDUSTRIAL DE SANTANDER. 
                    <br>
                    *Realización del Plan de Residuos Sólidos del proyecto, Manuales de trampas de grasas para el mantenimiento y control. 
                    <br>
                    *Asegurar que la información documentada requerida por los sistemas de gestión ambiental y de energía sea reportada con oportunidad, calidad y pertinencia, en temas tales como aspectos e impactos ambientales, riesgos, oportunidades, contexto, revisión energética, insumos de revisión por la Dirección, planes de residuos, planes de contingencia y demás documentación requerida por los sistemas de gestión ambiental y de energía. 
                    <br>
                    *Interventoría SISOMA en los proyectos de electrificación tanto en subestaciones como en líneas de transmisión. 
                </div>
                <br>
                <div class="exp-desc p-5">
                  <h6 class="card-title mb-3 mt-3">Participación en certificaciones de:</h6>
                  <br>
                  <div class="row">
                    <div class="col-6 d-flex justify-content-center">
                      <img class="logo-1" src="../img/17.jpg" alt="">
                    </div>
                    <div class="col-6 d-flex justify-content-center">
                      <img class="logo-2" src="../img/2.png" alt=""> 
                    </div>
                  </div>
              </div>

              <div class="container mb-3 mt-5">
                <div class="section-header">
                    <h3>Empresas</h3>
                    <p>Organizaciones en las que he participado</p>
                </div>
                <div class="row no-gutters clients-wrap clearfix wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo d-flex justify-content-center"> <img src="../img/customers/customer1.jpg" class="img-fluid" alt=""> </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo d-flex justify-content-center"> <img src="../img/customers/customer2.png" class="img-fluid" alt=""> </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo d-flex justify-content-center"> <img src="../img/customers/customer3.jpg" class="img-fluid" alt=""> </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo d-flex justify-content-center"> <img src="../img/customers/customer4.jpg" class="img-fluid" alt=""> </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo d-flex justify-content-center"> <img src="../img/customers/customer5.jpg" class="img-fluid" alt=""> </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo d-flex justify-content-center"> <img src="../img/customers/customer6.png" class="img-fluid" alt=""> </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo d-flex justify-content-center"> <img src="../img/customers/customer7.jpg" class="img-fluid" alt=""> </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo d-flex justify-content-center"> <img src="../img/customers/customer8.png" class="img-fluid" alt=""> </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    

    <!------------------------------------------------------------------------->
    <!------------------------------------------------------------------------->
    <!--------------------------------  FOOTER  ------------------------------->
    <!------------------------------------------------------------------------->
    <!------------------------------------------------------------------------->

    <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Redes sociales:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Silvia Juliana Camacho Obregón
            </h6>
            <p>
              Ingeniera Ambiental y de Saneamiento
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Servicios
            </h6>
            <p>
              <a href="#!" class="text-reset">Consultorias</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Seguimiento</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Cursos</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Interventorías</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Enlaces
            </h6>
            <p>
              <a href="#!" class="text-reset">Precios</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Solicitudes</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Reclamos</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Ayuda</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contacto
            </h6>
            <p><i class="fas fa-home me-3"></i> Barrancabermeja, Santander, Colombia</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              julianacamacho1490@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> 607 6 00 55 18</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">www.asesoriassilviacamacho.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

    <!------------------------------------------------------------------------->
    <!------------------------------------------------------------------------->
    <!----------------------------- END FOOTER  ------------------------------->
    <!------------------------------------------------------------------------->
    <!------------------------------------------------------------------------->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

    
    <div class="whatsapp">
        <a href="https://api.whatsapp.com/send?phone=573197208628" target="_blank" class="btn btn-success rounded-circle">
          <i class="fab fa-2x fa-whatsapp"></i>
        </a>
    </div>

  </body>
</html>