<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Silvia Juliana Camacho Obregón</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <link rel="stylesheet" href="../css/services.css">
    <link href="../fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">

  </head>
  <body>

    <!------------------------------------------------------------------------->
    <!------------------------------------------------------------------------->
    <!------------------------------  NAV BAR  -------------------------------->
    <!------------------------------------------------------------------------->
    <!------------------------------------------------------------------------->

    <nav class="main_nav navbar navbar-expand-lg navbar-light mb-3">
        <div class="container-fluid">
          <button class="navbar-toggler my-3 ml-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="nav_name">
            <span class="span_name">Silvia Juliana Camacho Obregón</span>
            <br>
            <span class="span_job">Ingeniera Ambiental y de Saneamiento</span>
          </div>
          <div class="collapse me-auto navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Servicios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="profile.html">Experiencia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <!------------------------------------------------------------------------->
    <!------------------------------------------------------------------------->
    <!---------------------------- END NAV BAR  ------------------------------->
    <!------------------------------------------------------------------------->
    <!------------------------------------------------------------------------->

    <div id="content-1" class="bar_1"></div>
    <!------------------------------------------------------------------------->
    <!------------------------------------------------------------------------->
    <!------------------------------ CONTENT 1  ------------------------------->
    <!------------------------------------------------------------------------->
    <!------------------------------------------------------------------------->
    
    <div class="services_section container-fluid mt-5">
        <div class="row mx-3">
                <div class="col-lg-6 col-sm-12 service-img">
                    <img class="w-100 mb-5 shadow" src="../img/6.jpg" alt="">                    
                </div>
                <div class="col-lg-6 col-sm-12 service-description">
                    <h5 class="card-title">IMPLEMENTACION Y SEGUIMIENTO DE LA ISO 9001:2015</h5>
                    <p>
                        <br>
                        Sistema de Gestión de la Calidad: El sistema de gestión de la calidad es la gestión de servicios que se ofrecen, y que incluye planear, controlar, y mejorar, aquellos elementos de una organización, que de alguna manera afectan o influyen en la satisfacción del cliente y en el logro de los resultados deseados por la organización.  
                        <br><br>
                        Un Sistema de Gestión de Calidad o también conocido como SGC, es una herramienta perfecta para aquellas organizaciones que desean que sus productos y servicios cumplan con los máximos estándares de calidad y así lograr y mantener la satisfacción de sus clientes. 
                        <br>
                    </p>
                </div>
        </div>
        <div class="row mx-3 card mb-5 service-content shadow">
            <div class="col-12 service">
                <h5 class="card-title mb-3 mt-3">SERVICIOS ASOCIADOS</h5>
                <p>
                    1. Diagnóstico inicial y capacitación introductoria  
                    <br>
                    2. Diseño del sistema de gestión de la calidad  
                    <br>
                    3. Implementación del sistema de gestión de la calidad 
                    <br>
                    4. Verificación del sistema - Auditoría interna y revisión por la dirección 
                    <br>
                    5. Acompañamiento en la Certificación de la ISO 9001:2015 
                </p>
                <a href="https://api.whatsapp.com/send?phone=573197208628" target="_blank" class="btn btn-primary mb-2 mt-3">Solicitar Cotización</a>
            </div>
        </div>
    </div>


    <div id="content-2" class="bar_1"></div>
    <!------------------------------------------------------------------------->
    <!------------------------------------------------------------------------->
    <!------------------------------ CONTENT 2  ------------------------------->
    <!------------------------------------------------------------------------->
    <!------------------------------------------------------------------------->
    
    <div class="services_section container-fluid mt-5">
      <div class="row mx-3">
              <div class="col-lg-6 col-sm-12 service-description">
                  <h5 class="card-title">IMPLEMENTACION Y SEGUIMIENTO DE LA ISO 14001:2015 </h5>
                  <p>
                      <br>
                      Un Sistema de Gestión Ambiental basado en la norma ISO 14001, facilita que una organización controle todas sus actividades, servicios y productos que pueden causar algún impacto sobre el medio ambiente, además ayuda a minimizar todos los impactos ambientales que generan su operación. 
                      <br><br>
                      Esto está enfocado en la gestión de “causa y efecto”, es decir, donde todas las actividades, servicios y productos ofrecidos por la organización son la causa y los efectos resultan del impacto que estos generen sobre el medio ambiente. Los impactos pueden ser, cambio de temperatura del agua de un arroyo cercano, aumento de la tasa de personas con asma dentro de la población cercana a la empresa o la contaminación producida en un terreno colindante a la organización debido a infiltraciones. 
                      <br><br>
                      La Gestión Ambiental es una herramienta que permite que se controles todos los aspectos que pueden minimizar e incluso eliminar todos los impactos que generen las actividades llevadas a cabo por la organización.   
                      <br>
                  </p>
              </div>
              <div class="col-lg-6 col-sm-12 service-img">
                <img class="w-100 mb-5 shadow" src="../img/3.jpg" alt="">                    
              </div>
      </div>
      <div class="row mx-3 mb-5 card service-content shadow">
          <div class="col-12">
              <h5 class="card-title mb-3 mt-3">SERVICIOS ASOCIADOS</h5>
              <p>
                1- Identificar el punto de partida a través de un diagnóstico. 
                <br>
                2- Alinear el Direccionamiento Estratégico para que se adopte el Sistema de Gestión Ambiental, como una prioridad gerencial. 
                <br>
                3- Sensibilizar al personal directivo y operativo sobre los beneficios del Sistema de Gestión Ambiental, con actividades vivenciales donde identifican  el impacto de no tenerlo. 
                <br>
                4- Documentar la información crítica de una forma integral, práctica y eficaz con la técnica 10 en 1. 
                <br>
                5- Socializar la documentación con técnicas de Aprendizaje Significativo 
                <br>
                8- Verificar el sistema de gestión a través de  una auditoria Interna, con enfoque de retroalimentación, e identificación de errores (Pareto) 
                <br>
                9- Acompañar en el diseño y seguimiento de planes de mejora con un enfoque de construcción colectiva, integral, generador de valor y realista. 
                <br>
                10- Acompañamiento para establecer los indicadores del SGA. 
              </p>
              <a href="https://api.whatsapp.com/send?phone=573197208628" target="_blank" class="btn btn-primary mb-2 mt-3">Solicitar Cotización</a>
          </div>
      </div>
  </div>


  <div id="content-3" class="bar_1"></div>
  <!------------------------------------------------------------------------->
  <!------------------------------------------------------------------------->
  <!------------------------------ CONTENT 3  ------------------------------->
  <!------------------------------------------------------------------------->
  <!------------------------------------------------------------------------->
  
  <div class="services_section container-fluid mt-5">
      <div class="row mx-3">
              <div class="col-lg-6 col-sm-12 service-img">
                  <img class="w-100 mb-5 shadow" src="../img/10.jpg" alt="">                    
              </div>
              <div class="col-lg-6 col-sm-12 service-description">
                  <h5 class="card-title">SISTEMA DE SEGURIDAD Y SALUD EN EL TRABAJO</h5>
                  <p>
                      <br>
                      Se denomina Sistema de Gestión de la Seguridad y Salud en el Trabajo y consiste en el desarrollo de un proceso lógico y por etapas, basado en la mejora continua y que incluye la política, la organización, la planificación, la aplicación, la evaluación, la auditoría y las acciones de mejora, con el objetivo de anticipar, reconocer, evaluar y controlar los riesgos que puedan afectar la seguridad y salud en el trabajo.  
                      <br><br>
                  </p>
              </div>
      </div>
      <div class="row mx-3 card mb-5 service-content shadow">
          <div class="col-12">
              <h5 class="card-title mb-3 mt-3">SERVICIOS ASOCIADOS</h5>
              <p>
                1- Diseño documental e implementación del SG SST.
                <br>
                2- Actualización documentos y procesos del SG SST.
                <br>
                3- Acompañamiento en la Administración y ejecución mensual del SG SST.
                <br>
                4- Plan de Emergencia.
                <br>
                5- Capacitaciones en SGSST para los trabajadores de la empresa y directivos.
                <br>
                6- Auditorías internas y externas al sistema de gestión de seguridad y salud en el trabajo.
              </p>
              <a href="https://api.whatsapp.com/send?phone=573197208628" target="_blank" class="btn btn-primary mb-2 mt-3">Solicitar Cotización</a>
          </div>
      </div>
  </div>

    <!------------------------------------------------------------------------->
    <!------------------------------------------------------------------------->
    <!--------------------------------  FOOTER  ------------------------------->
    <!------------------------------------------------------------------------->
    <!------------------------------------------------------------------------->

    <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Redes sociales:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Silvia Juliana Camacho Obregón
            </h6>
            <p>
              Ingeniera Ambiental y de Saneamiento
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Servicios
            </h6>
            <p>
              <a href="#!" class="text-reset">Consultorias</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Seguimiento</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Cursos</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Interventorías</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Enlaces
            </h6>
            <p>
              <a href="#!" class="text-reset">Precios</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Solicitudes</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Reclamos</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Ayuda</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contacto
            </h6>
            <p><i class="fas fa-home me-3"></i> Barrancabermeja, Santander, Colombia</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              julianacamacho1490@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> 607 6 00 55 18</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">www.asesoriassilviacamacho.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

    <!------------------------------------------------------------------------->
    <!------------------------------------------------------------------------->
    <!----------------------------- END FOOTER  ------------------------------->
    <!------------------------------------------------------------------------->
    <!------------------------------------------------------------------------->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->


    <div class="whatsapp">
      <a href="https://api.whatsapp.com/send?phone=573197208628" target="_blank" class="btn btn-success rounded-circle">
        <i class="fab fa-2x fa-whatsapp"></i>
      </a>
    </div>

  </body>
</html>